<!--
  Option to add your own schedule (dynamically rendered using cronstrue).
  Try moving allOptions into CustomElement
-->
<template bindable="displayStartButton">
    <dialogue-frame>
        <require from="../../model/schedule-view-engine-hooks"></require>
        <!-- Modal -->
        <form ref="scheduleWizardForm" id="scheduleWizardForm" submit.trigger="addNewTran()">
            <flow-stage if.bind="flow.isInitial && displayStartButton">
                <button type="button" id="addTransaction" name="addTransaction" click.delegate="formChange()">Add
                    transaction</button>
            </flow-stage>
            <flow-stage if.bind="flow.isDate">
                <stage-title>When is this transaction going to happen?</stage-title>
                <input type="date" id="date" name="date" value.bind="tranwr.value.date" class="form-control"
                    change.delegate="formChange()" />
                <endnote>Date of the next occurance of this transaction. You will set up a recurring schedule if
                    necessary on the next steps.</endnote>
            </flow-stage>
            <flow-stage if.bind="flow.isSchedule" class="form-check">
                <stage-title>Choose a schedule for the transaction happening on
                    <nobr>${tranwr.value.date | dateFormat:'MMMM Do YYYY'}:</nobr>
                </stage-title>
                <div class="form-check" repeat.for="schedule of allOptions">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="scheduleOption" model.bind="schedule"
                            checked.bind="tranwr.value.selectedSchedule" />${schedule.label}</label>
                </div>
            </flow-stage>
            <flow-stage if.bind="flow.isHolidayRule">
                <label for="holidayRule" if.bind="showHolidayRule">
                    <nobr>If ${tranwr.value.selectedSchedule.label}</nobr> falls on holiday,
                    execute
                    <select id="holidayRule" value.bind="tranwr.value.selectedSchedule.holidayRule"
                        disabled.bind="!showHolidayRule">
                        <option model.bind="HolidayRule[holidayRule]" repeat.for="holidayRule of HolidayRules">
                            ${holidayRule}
                        </option>
                    </select> the holiday
                </label>
            </flow-stage>
            <flow-stage if.bind="flow.isDateRange">
                <label for="createScheduleDateRangeSince">Optionally, repeat only between</label>
                <div class="form-row align-items-center">
                    <div class="col-auto"><input type="date" class="form-control" id="createScheduleDateRangeSince"
                            name="dateRangeSince" value.bind="tranwr.value.selectedSchedule.dateSince" /></div>
                    <div class="col-auto">and</div>
                    <div class="col-auto"><input type="date" class="form-control" id="createScheduleDateRangeTill"
                            name="dateRangeTill" value.bind="tranwr.value.selectedSchedule.dateTill" min.bind="minDateTill" />
                    </div>
                </div>
                <endnote>If set, this schedule will be active only between these dates. You can set just the first date
                    to make the schedule active since that date, or only the second date to make it active from now and
                    till that date. Leave as is to make the schedule always active.</endnote>
            </flow-stage>
            <flow-stage if.bind="flow.isParameters">
                <div class="form-group">
                    <div class="row">We will simulate the following transaction ${tranwr.value.selectedSchedule |
                        scheduleLabel}:</div>
                </div>
                <div class="form-group">
                    <div class="row no-gutters">
                        <div class="col">
                            <label for="amount">Amount</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">$</div>
                                </div><input id="amount" type="text" class="form-control money" required
                                    pattern="^(:?\+|-|\()?\d*\.?\d*(:?\))?$" title="Transaction amount"
                                    value.bind="tranwr.value.amount" numbers placeholder="-9.99" />
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2 no-gutters tranTypeSwitch">
                        <div class="col" repeat.for="ttype of TranTypes">
                            <label class="my-0"><input type="radio" name="wzTranType"
                                model.bind="TranType[ttype]" checked.bind="tranwr.tranType" />
                                ${ttype}</label>
                        </div>
                    </div>
                    <div class="row mt-2 no-gutters" if.bind="!tranwr.value.isTransfer">
                        <div class="col">
                            <label for="account">Account</label>
                            <input id="account" type="text" class="form-control" required pattern=".+"
                                title="Account on which this transaction is simulated" value.bind="tranwr.value.account | trimSpace"
                                placeholder="My banking account *1234" />
                        </div>
                    </div>
                    <div class="row mt-2" if.bind="tranwr.value.isTransfer">
                        <div class="col col-xs-6">
                            <label for="wzSourceAccount">Source account</label>
                            <input id="wzSourceAccount" type="text" class="form-control" required pattern=".+"
                                title="Own account to transfer from" value.bind="tranwr.value.account | trimSpace"
                                placeholder="My banking account *1234" />
                        </div>
                        <div class="col col-xs-6">
                            <label for="wzTargetAccount">Destination account</label>
                            <input id="wzTargetAccount" type="text" class="form-control" required pattern=".+"
                                title="Own account to transfer to" value.bind="tranwr.value.transferToAccount | trimSpace"
                                placeholder="My credit card *5678" />
                        </div>
                    </div>
                    <div class="row mt-2 no-gutters">
                        <div class="col">
                            <label for="description">Description</label>
                            <input id="description" type="text" class="form-control" required pattern=".+"
                                title="Transaction description" value.bind="tranwr.value.description | trimSpace"
                                placeholder="E.g., COMCAST CABLE COMM 800-COMCAST WA" />
                        </div>
                    </div>
                </div>
            </flow-stage>
            <flow-stage if.bind="flow.isParameters">
                <div class="flowButtons">
                    <button class="btn btn-light" type="button" click.delegate="startOver()"><i
                            class="fa fa-undo"></i>&nbsp;start over</button>
                    <button class="btn btn-primary" type="submit" disabled.bind="!canSave">schedule transaction&nbsp;<i
                            class="fa fa-save"></i></button>
                </div>
            </flow-stage>
            <flow-stage if.bind="!flow.isInitial && !flow.isDate && !flow.isParameters">
                <div class="flowButtons">
                    <button class="btn btn-light" type="button" id="backButton" click.delegate="flow.back()"><i
                            class="fa fa-undo"></i>&nbsp;back</button>
                    <button class="btn btn-primary" type="button" id="nextButton"
                        click.delegate="formChange()">next&nbsp;<i class="fa fa-chevron-right"></i></button>
                </div>
            </flow-stage>
        </form>
    </dialogue-frame>
</template>