<template>
  <require from="./schedule/edit-schedule-button"></require>
  <require from="./schedule/delete-schedule-button"></require>
  <table class="table table-sm table-hover">
    <thead>
      <tr>
        <th>Schedule</th>
        <th>Account</th>
        <th class="money">Amount</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr repeat.for="tran of state.schedule">
        <td>${tran.selectedSchedule | scheduleLabel}</td>
        <td>${tran.account}</td>
        <td class="money">${tran.amount | textToMoney}</td>
        <td>${tran.description}</td>
        <td>
          <div class="btn-group" role="group" aria-label="Transaction controls">
            <edit-schedule-button tran.bind="tran"></edit-schedule-button>
            <delete-schedule-button tran.bind="tran"></delete-schedule-button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</template>
