/* custom.scss */    

/* import the necessary Bootstrap files */
@import "bootstrap/functions";
@import "bootstrap/variables";

/* make changes to the !default Bootstrap variables */    
$body-color: green;


$headings-font-family: "Playfair Display", serif;
$font-family-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  $body-bg: #f6f6f6;
$body-color: #495057;
$nav-tabs-link-active-bg: #fff;
$box-shadow-sm: 0 0.2rem 0.25rem rgba(#000, 0.075);

$blue: #113348;
$red: #fe5350;
$yellow: #ffdb3a;
$green: #59cf44;
$cyan: #27a8a6;
$white: #fff;

$primary: $blue;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$input-placeholder-color: #adb5bd;
// $secondary:     $gray-600 !default;
// $light:         $gray-100 !default;
// $dark:          $gray-800 !default;

$spacer: 1rem;

// @import "~bootstrap/scss/_variables";

$content-bg: $white;
$header-lane-height: $spacer * 2;
$shadow-width: 0.125rem;

/* finally, import Bootstrap to set the changes! */
@import "bootstrap";
