$body-bg: #f6f6f6;
$body-color: #495057;
$nav-tabs-link-active-bg: #fff;
$box-shadow-sm: 0 0.2rem 0.25rem rgba(#000, 0.075);
$headings-font-family: 'Playfair Display', serif;
$font-family-sans-serif: 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$blue: #113348;
$red: #fe5350;
$yellow: #ffdb3a;
$green: #59cf44;
$cyan: #27a8a6;

$primary: $blue;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$input-placeholder-color: #adb5bd;
// $secondary:     $gray-600 !default;
// $light:         $gray-100 !default;
// $dark:          $gray-800 !default;

@import "~bootstrap/scss/bootstrap";

$content-bg: $white;
$header-lane-height: $spacer * 2;
$shadow-width: 0.125rem;

page {
  margin: 0 80px;
  display: block;
}

header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  border-bottom: $nav-tabs-border-width solid $nav-tabs-border-color;
}

lane {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: -$shadow-width;
  margin-right: -$shadow-width;
}

app-header {
  height: $header-lane-height;

  @extend .my-3;

  img {
    height: 100%;
    margin-left: $spacer/2;
    margin-right: $spacer;
    z-index: 1001;
    position: sticky;
  }
}

.main-menu {
  margin-bottom: -1px;

  .nav-item {
    & > .nav-link {
      color: $gray-700;
    }
    & > .active {
      color: $gray-900;
      @extend .shadow-sm, .bg-white;
    }
  }
}

.secondary-menu {
  .nav-item {
    font-size: 0.8rem;
    & > .nav-link {
      color: $gray-700;
    }
    & > .active {
      color: $gray-900;
      text-decoration: underline;
    }
  }
}

router-view {
  @extend .border,
    .border-top-0,
    .shadow-sm,
    .p-2,
    .mb-5,
    .bg-white,
    .rounded-bottom;
  min-height: 80vh;
}

button#addTransaction {
  @extend .btn, .btn-primary, .btn-sm;
  margin: $spacer/4 + $spacer/8 $spacer/2;
}

schedule-wizard {
  width: 100%;
  position: absolute;
}

ux-dialog-overlay {
  background-color: rgba($body-bg, 0.85);
}

.money {
  text-align: right;
}

flow-stage {
  display: block;
  max-width: 450px;
  @extend .form-group;

  stage-title {
    display: block;
    margin: $spacer 0;
  }
  // input, select {
  //     @extend .form-control;
  // }

  endnote {
    max-width: 400px;
  }
}

.flowButtons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

endnote {
  @extend .small;

  display: block;
  line-break: loose;
  line-height: $line-height-sm;
  margin-top: $spacer / 2;
}

ux-dialog-container {
  @extend .container-fluid, .justify-content-center;
  display: flex;
  align-items: center;

  & > div {
    @extend .col, .col-lg-6, .col-md-8;
  }
}

board {
  display: flex;
  flex-wrap: wrap;

  &>div {
    @extend .p-2;
  }
  
  @media (max-width: 999.99px) {
    .main-column, .right-column {
      width: 100%;
    }
  }
  @media (min-width: 1000px) {
    .main-column {
      flex: 1;
      min-width: 600px;
    }
    .accounts {
      width: 400px;
    }
  }

  .accounts {
    accounts {
      display: block;
      table {
        width: 100%;
      }
    }
  }
}

accounts-summary {
  display: block;
  overflow-x: auto;
  table.accounts-summary {
    width: 100%;

    td.danger {
      background-color: lighten($danger, 20%);
    }

    td.warning {
      background-color: lighten($warning, 20%);
    }
  }
  div.money {
    font-size: $font-size-base * 0.75;
  }
  div.label, th {
    font-size: $font-size-base * 0.75;
  }
}

dialogue-frame {
  display: block;
  padding: $spacer * 2 $spacer * 3 $spacer $spacer * 3;
  background-color: lighten($body-bg, 3%);

  @extend .border, .rounded;
}

div.welcome {
  @extend .container-fluid;

  &>div {
    @extend .row, .justify-content-center, .py-3;
  }

  .text {
    display: flex;
    @extend .col, .col-md-4, .mx-3;

    &>div {
      @extend .align-self-center;
    }
  }
  .image {
    width: 450px;
    height: 300px;
    overflow: hidden;
    @extend .col, .col-md-4, .mx-3;

    img {
      width: 450px;
      height: 300px;
      vertical-align: middle;
    }
  }
}